{% extends 'base.html' %}

{% block title %} Work {% endblock %}

{% block content %}
<div class="section-container">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                <div class="text-center">
                    <h1 class="h2">02 : Works</h1>
                    <p>The backend for this website is also designed using python flask web framework.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide projects-carousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        {% for idx, works in nested_works%}
                        <div class="item {% if idx == 0 %} active {% endif %}">
                            <div class="row">
                                {% for work in works %}
                                <div class="col-sm-4">
                                    <a href="{{work['url']}}" title="" class="black-image-project-hover">
                                        <img src="{{url_for('static', filename=work['image'])}}" alt=""
                                             class="img-responsive">
                                    </a>
                                    <div class="card-container card-container-lg">
                                        <h4></h4>
                                        <h3>{{work['title']}}</h3>
                                        <p>{{work['description']}}</p>
                                        <a href="{{work['url']}}" title="" class="btn btn-default">Discover</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!--/row-->
                        </div>
                        {% endfor %}
                    </div>
                    <!--/carousel-inner-->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/"
                                                        title="Create website with free html template">Mashup
                    Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
            </div>
        </div>
    </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });

</script>
{% endblock %}
